page-home {

        .bg-image {
            background-image: url(../../assets/imgs/back_home.png);
            background-repeat: no-repeat;
            background-position:bottom;
            background-size: 100% 43%;
           }        

    #map {
        height: 100%;
      }

}
