page-signup {
    
    .bg-image {
        background-image: url(../../assets/imgs/back_login.png);
        background-repeat: no-repeat;
        background-position:bottom;
        background-size: 100% 48%;
       }        

}
